body
{
    text-align: center;
}
#copyright
{
    text-align: right;
    font-family: monospace;
    font-size: 80% !important;
}

img
{
    margin-left:auto;
    margin-right:auto;
}
p
{
    padding: 10px !important;
    font-family: sans-serif;
    font-size: 115% !important;
   
}
h3
{
    font-family: cursive !important;
}

}
.Language
{
    text-align: right;
    
}

.greetings
{
    text-align: center;
}

.footer{
    font-size: 10px;
}
.navbar{
    margin-bottom: 50px;
}
.storeLogo{
    height: 50px;
    width: 50px;
}
