
body
{
    text-align: center;
}
#copyright
{
    text-align: right;
    font-family: monospace;
    font-size: 80% !important;
}

img
{
    margin-left:auto;
    margin-right:auto;
}
p
{
    padding: 10px !important;
    font-family: sans-serif;
    font-size: 115% !important;
   
}
h2
{
    font-family: cursive !important;
}

}
.Language
{
    text-align: right;
    
}

.greetings
{
    text-align: center;
}

.footer{
    font-size: 10px;
}
.navbar{
    margin-bottom: 50px;
    color: #FFFFFF;
}
.storeLogo{
    height: 50px;
    width: 50px;
}
#navigation,.navbar .navbar-default{
  background-color: blue;
}
.container{
    background-color: #FFFFFF;
}
.navbar-light{
    color:white;
}
.navbar-light .navbar-nav .nav-link{
    color:#FFFFFF;
}
.bg-light{
    background-color: #006847!important;  
}
